<configuration>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>AmfApplicationLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>LogData/AmfApplicationLog-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 10KB, keep 1 days worth of history, but at most 20GB -->
            <maxFileSize>20KB</maxFileSize>
            <maxHistory>1</maxHistory>
            <totalSizeCap>100KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="ROLLING" />
    </root>
</configuration>